<!DOCTYPE html>
<html lang="en">
<head>

    <title>HomePag</title>
    
    {% comment %} 
    HW1: get to this point
    - create a tout called 'cart' -----> cart.html
    pass a list of items ( from the user cart)
    each item coul have title , quantity , cost
    inside the template show the cart using:
    html table
    Django templete languege --> loops
    
    {% endcomment %}
</head>
<body>
    <h2  align="center"> Welcome to E-Shop</h2>
    <h1>{{ version }}</h1>
    
</body>
</html>